

/* Constrained content container */
.pageContainer {
  padding: 20px;
  padding-top: 70px;
  max-width: 1200px;
  margin: 0 auto; /* Remove default margins */
  color: #333;
  background-color: #fff; /* Background color for the content area */
}

  .h1 {
    color: #333;
    font-size: 34px;
    margin-bottom: 16px;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 13px;
    margin-bottom: 24px;
  }

  .gridTitle {
    font-size: 1.5em;
    margin-top: 26px;
    color: #454caa;
  }

  .gridContent {
    margin-top: 20px;
    margin-bottom: 20px;
    white-space: pre-line;
  }


  .heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 16px;
  }

  .sectionTitle {
    font-size: 1.5em;
    margin-top: 26px;
    color: #000000;
  }

  .section2Title {
    font-size: 1.2em;
    color: #000000;
  }
  
  .sectionContent {
    font-size: 1.1em;
    margin-bottom: 20px;
    white-space: pre-line;
    line-height: 1.8;  
  }
 
  .imageRow {
    display: flex;
    gap: 20px; /* Space between images, adjust as needed */
    overflow-x: auto; /* Optional: Adds horizontal scroll if images overflow */
  }


  .imageContainer {
    position: relative;
    margin-right: 50px; /* Space between images */
    flex: 0 0 auto; /* Prevents the image container from shrinking */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .image {
    max-width: 100%; /* Ensures the image scales down within its container */
    height: auto; /* Maintains aspect ratio */
  }

  .bulletList {
    margin: 10px 0 20px 20px; /* Adjusts margins around the list */
    padding: 0;
    list-style-type: disc; /* Default bullet style */
  }
  
  .bulletItem {
    margin-bottom: 10px; /* Space between bullet points */
    color: #333; /* Text color */
    font-size: 16px; /* Adjust font size */
    line-height: 1.5; /* Adjust line height for readability */
  }